@import '../components/orderForm/formNav';
@import '../components/orderForm/form';

.body__app__orderContainer {
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;

	// order form nav

	// form

	.body__app__orderContainer__bottomSpace {
		margin-top: auto;
		height: 2rem;
		width: 100%;
		max-width: 1600px;
	}
}
