.body__app__orderContainer__formContainer {
	width: 100%;
	max-width: 1600px;

	background-color: #ffff;
	border-radius: 1rem;
	box-shadow: $filterBoxshadow;

	box-sizing: border-box;
	overflow: hidden;

	position: relative;

	display: flex;
	justify-content: space-between;

	.body__app__orderContainer__formContainer__formCover {
		background-color: white;
		width: 45%;
		z-index: 100s;
		position: relative;

		box-sizing: border-box;
		padding: 2rem;

		> h2 {
			font-size: 2rem;
			margin-bottom: 3rem;
			position: relative;
			width: 100%;

			color: $darkText;
			&:before {
				content: '';
				position: absolute;
				height: 2px;
				bottom: -1rem;
				left: 0;
				right: 0;
				background-color: $separator;
			}
		}

		form {
			display: inline-block;
			width: 100%;

			display: flex;
			flex-direction: column;

			> h3 {
				font-size: 1.3rem;
				margin-bottom: 1.2rem;
				position: relative;
				width: 100%;

				color: $lightText;
			}

			.body__app__orderContainer__formContainer__formCover__form__paymentMethod {
				display: flex;
				gap: 2rem;

				margin-bottom: 2rem;

				> div {
					width: 50%;
					display: flex;
					justify-content: space-between;

					border: 2px solid $separator;

					box-sizing: border-box;
					padding: 1rem;
					border-radius: 0.4rem;

					&:hover {
						cursor: pointer;
					}

					> div:not(.body__app__orderContainer__formContainer__formCover__form__paymentMethod__methodContainer__check) {
						display: flex;
						gap: 1rem;
						font-size: 1.2rem;

						color: $darkText;

						> p {
							color: $lightText;
						}
					}

					> div.body__app__orderContainer__formContainer__formCover__form__paymentMethod__methodContainer__check {
						width: 1.2rem;
						height: 1.2rem;

						border: 2px solid $separator;
						border-radius: 5rem;
					}
				}
				.body__app__orderContainer__formContainer__formCover__form__paymentMethod___checked {
					border: 2px solid $systemColor;
					background-color: #ff596f14;

					> div:not(.body__app__orderContainer__formContainer__formCover__form__paymentMethod__methodContainer__check) {
						color: $darkText;

						> p {
							color: $lightText;
						}
					}

					> div.body__app__orderContainer__formContainer__formCover__form__paymentMethod__methodContainer__check {
						border: 2px solid $systemColor;
						position: relative;

						&::before {
							position: absolute;

							top: 4px;
							bottom: 4px;
							left: 4px;
							right: 4px;

							content: '';
							border-radius: 5rem;

							background-color: $systemColor;
						}
					}
				}
			}

			input {
				width: 100%;

				font-size: 1.1rem;
				margin-bottom: 2rem;
				box-sizing: border-box;
				padding: 0.7rem 1rem;

				color: $darkText;

				border: $separator 2px solid;
				border-bottom: $separator 2px solid,
					transparent 2px solid;

				border-radius: 0.4rem;

				outline: none;
				transition: border 150ms ease-in-out,
					background-color 150ms ease-in-out;

				&:focus {
					border: 2px solid $systemColor;
					background-color: #ff596f12;
				}
			}

			textarea {
				width: 100%;
				height: 10rem;

				font-size: 1.1rem;
				margin-bottom: 2rem;
				box-sizing: border-box;
				padding: 0.7rem 1rem;

				color: $darkText;

				border: $separator 2px solid;
				border-bottom: $separator 2px solid,
					transparent 2px solid;

				border-radius: 0.4rem;

				outline: none;
				transition: border 150ms ease-in-out,
					background-color 150ms ease-in-out;

				resize: none;
			}

			.inputIncorrect {
				&:focus {
					border: 2px solid $systemColor;
					background-color: #ff596f12;
				}
			}
			.inputCorrect {
				&:focus {
					border: 2px solid rgb(88, 200, 105);
					background-color: rgba(
						88,
						200,
						105,
						0.071
					);
				}
			}
			.body__app__orderContainer__formContainer__formCover__form__buttons {
				width: 100%;
				display: flex;
				justify-content: flex-end;

				.body__app__orderContainer__formContainer__formCover__form__continueButton {
					@include chipLink;
				}

				.body__app__orderContainer__formContainer__formCover__form__continueButton___off {
					background-color: #fff;
					border-color: $darkText;
					color: $darkText;

					&:hover {
						transform: none;
						cursor: not-allowed;
					}
					&:active {
						transform: none;
					}
				}
				.body__app__orderContainer__formContainer__formCover__form__continueButton___orderSend {
					@include chipLink;
					background-color: #a93b4a;

					&:hover {
						transform: none;
						cursor: not-allowed;
					}
					&:active {
						transform: none;
					}
				}
			}
		}
	}

	.body__app__orderContainer__formContainer__img {
		width: 53%;
		clip-path: polygon(
			13% 0,
			100% 0,
			100% 100%,
			0% 100%
		);
		> img {
			object-fit: cover;
			height: 100%;
			width: 100%;
		}

		.body__app__orderContainer__formContainer__img__cover {
			position: absolute;
			right: 0%;
			left: 45%;
			bottom: 0%;
			top: 0%;
			background-color: #ff596f7d;
		}
	}
}
