// nav and panel backgrounds
$navBackground: #ffffff;
$panelBackground: #f4f4f4;

// system color
$systemColor: #ff596f;
$systemColor___interact: #ff596f;

// text
$darkText: #353535;
$darkerText: #212121;
$lightText: #555555;

// separator
$separator: #dadada;

// other
$chipTransition: transform 100ms ease-in-out,
	background-color 150ms ease-in-out;

$filterBoxshadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px,
	rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
